name: Automatic deployment


on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:
jobs:
  changedfiles:
    runs-on: Windows
    steps:
      - uses: actions/checkout@v2
      - name: git commit
        run: git log -n 1 origin/test  
      - name: Set commit ID's
        run: |
          echo '::set-output name=SELECTED_COMMIT::$(git log -n 1 origin/main --pretty=format:"%H")'
          echo '::set-output name=SELECTED_COMMIT1::$(git log -n 1 origin/test --pretty=format:"%H")'
        id: random-commit-generator
      - name: Get Commit ID's
        run: |
          $(git diff --name-only ${{ steps.random-commit-generator.outputs.SELECTED_COMMIT }}...${{ steps.random-commit-generator.outputs.SELECTED_COMMIT1 }} -- C:\Users\MohammadAamirKhan\Pictures\actions-runner\_work\git_work\git_work)
          echo "The selected color is ${{ steps.random-commit-generator.outputs.SELECTED_COMMIT }} and ${{ steps.random-commit-generator.outputs.SELECTED_COMMIT1 }}"
   
        
      

        
        
          
    
      
    
          
