name: Automatic deployment


on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:
jobs:
  changedfiles:
    runs-on: Windows
    steps:
      - name: git commit
        run: git log -n 1 origin/test --pretty=format:"%H" 
      - name: Set selected color
        run: |
          echo '::set-output name=SELECTED_COLOR::$(git log -n 1 origin/main --pretty=format:"%H")'
          echo '::set-output name=SELECTED_COLOR1::$(git log -n 1 origin/test --pretty=format:"%H")'
        id: random-color-generator
      - name: Get color
        run: |
          git diff --name-only ${{ steps.random-color-generator.outputs.SELECTED_COLOR }}...${{ steps.random-color-generator.outputs.SELECTED_COLOR1 }}
          echo "The selected color is ${{ steps.random-color-generator.outputs.SELECTED_COLOR }} and ${{ steps.random-color-generator.outputs.SELECTED_COLOR1 }}"
   
        
      

        
        
          
    
      
    
          
